@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$font-size: 1.1rem;
$line-height: 1.5;
$font-family: 'Comic Sans MS', 'Comic Sans', cursive;
$font-family-header: 'Papyrus', monospace, sans-serif;
