@use 'colors' as *;

a:not(.logo, .navlink) {
  text-decoration: none;
  color: $dark;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 1vw 1.5vw;
  transition: all 0.3s ease-in-out;
  margin: 0 2vw;
  background-clip: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 1rem $light;
  }
  &:focus,
  &:active {
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 1.5rem $light;
  }
  &:not(:focus, :active) {
    opacity: 0.8;
  }
}
