@use '../abstracts/' as *;
@use 'main' as *;
@use 'nav' as *;
@use 'header' as *;
@use 'aside' as *;
@use 'footer' as *;

body {
  font-family: $font-family;
  line-height: $line-height;
  font-size: $font-size;
  background-color: $light;
  color: $dark;
  margin: 0;
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main aside'
    'nav footer footer';
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 80px 4fr 50px;
}
