@use '../abstracts/' as *;
@use 'main' as *;
@use 'nav' as *;
@use 'header' as *;
@use 'aside' as *;
// @use 'footer' as *;

body {
  font-family: $font-family;
  line-height: $line-height;
  font-size: $font-size;
  background-color: $light;
  margin: 0;
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main aside'
    'footer footer footer';
  grid-template-columns: 150px auto 300px;
  grid-template-rows: 100px 4fr 50px;
}
@media screen and (max-width: 768px) {
  body {
    grid-template-areas:
      'header'
      'main'
      'aside'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 120px repeat(2, auto) 50px;
  }
  nav {
    display: none;
  }
}
