@use '../abstracts' as *;

header {
  width: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  place-items: center;
  background-color: $primary;
  color: $light;
  grid-area: header;
  z-index: 1;
  a:not(.logo) {
    color: $light !important;
    text-decoration: none;
    font-size: clamp(0.75rem, 1vw, 1rem);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover {
      color: $link !important;
    }
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
  right: 0;
  width: 50%;
  background-color: $primary;
  line-height: 3;
}
.mobile-menu-inactive {
  position: absolute;
  background: radial-gradient(
    $light 0%,
    darken($light, 5%) 12.5%,
    lighten($primary, 20%) 25%,
    lighten($primary, 10%) 50%,
    lighten($primary, 5%) 75%,
    $primary 85%,
    darken($primary, 5%) 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 6px $light;
  width: 40px;
  height: 40px;
  top: 40px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
  background-clip: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: radial-gradient(
      darken($primary, 5%) 0%,
      $primary 12.5%,
      lighten($primary, 5%) 25%,
      lighten($primary, 10%) 50%,
      darken($light, 8%) 75%,
      darken($light, 5%) 85%,
      $light 100%
    );
    box-shadow: 0 0 12px $light;
  }
}
.mobile-menu-active {
  position: absolute;
  background: radial-gradient(
    darken($primary, 5%) 0%,
    $primary 12.5%,
    lighten($primary, 5%) 25%,
    lighten($primary, 10%) 50%,
    darken($light, 8%) 75%,
    darken($light, 5%) 85%,
    $light 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 6px $light;
  width: 40px;
  height: 40px;
  top: 40px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
  background-clip: none;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .web-menu {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .mobile-menu-active,
  .mobile-menu-inactive {
    display: none;
  }
}
