@use '../abstracts' as *;

header {
  width: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  place-items: center;
  background-color: $primary;
  color: $light;
  grid-area: header;
  z-index: 1;
  a:not(.logo) {
    color: $light !important;
    text-decoration: none;
    font-size: clamp(0.75rem, 1vw, 1rem);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover {
      color: $link !important;
    }
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
  right: 0;
  background-color: $primary;
  line-height: 3;
}
.mobile-menu-button {
  content: '';
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  position: absolute;
  background-color: lighten($primary, 50%);
  width: 50px;
  height: 50px;
  top: 35px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.8s ease-in-out;
  background-clip: none;
  &:hover {
    transform: rotate(180deg);
  }
  &:active,
  &:focus {
    transform: rotate(180deg);
  }
}
.mobile-menu-button2 {
  content: '';
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  position: absolute;
  background-color: $black;
  width: 30px;
  height: 30px;
  top: 45px;
  right: 30px;
  cursor: pointer;
  z-index: 3;
  transition: all 0.8s ease-in-out;
  background-clip: none;
  &:hover {
    transform: rotate(-180deg);
  }
  &:active,
  &:focus {
    transform: rotate(-180deg);
  }
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .web-menu {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .mobile-menu,
  .mobile-menu-button {
    display: none;
  }
}
