@use '../abstracts' as *;

header {
  width: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  place-items: center;
  background-color: $primary;
  color: $light;
  grid-area: header;
  z-index: 1;
  a:not(.logo) {
    color: $light !important;
    text-decoration: none;
    font-size: clamp(0.75rem, 1vw, 1rem);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover {
      color: $link !important;
    }
  }
  img {
    margin-right: 1.5rem;
    z-index: 1;
  }
}
.circle {
  position: absolute;
  top: 35px;
  right: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $transparent;
  box-shadow: 0 0 10px $light;
  z-index: 2;
  background-clip: none;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 20px $light;
    cursor: pointer;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
  right: 0;
  width: 50%;
  background-color: $primary;
  line-height: 3;
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .web-menu {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .circle {
    display: none;
    box-shadow: none;
  }
  .header-image {
    display: none;
  }
}
