@use 'abstracts' as *;
@use 'components' as *;
@use 'layouts' as *;
@use 'mixins' as *;

html {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background-clip: none;
}

* {
  box-sizing: border-box;
}
